@model PrimeraExpo.ViewModels.PersonaViewModels.RegistrarViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrar";
}

@{
    if (ViewBag.Confirmacion != null)
    {
        <br />
        <div class="alert alert-success">
            <strong>@ViewBag.Confirmacion</strong> Persona Registrada en la DB!!
        </div>
    }
}

<div class="row">
    <div class="col-xs-12">
        <h3>Formulario para registrar una nueva persona</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Apellidos)
                    @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Edad)
                    @Html.TextBoxFor(model => model.Edad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Correo)
                    @Html.TextBoxFor(model => model.Correo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Contrasenna)
                    @Html.TextBoxFor(model => model.Contrasenna, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contrasenna, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Confirmacion)
                    @Html.TextBoxFor(model => model.Confirmacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Confirmacion, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </fieldset>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}